@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

body {
  font-family: "Inter", sans-serif;
}

/* letika websitenya di scroll sdikit ini berfungsi */
.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-80 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;

  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

/* mengatur rotasi humburger */
/* mencari span pertama */
.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
/* mencari span kedua */
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
/* span ketiga */
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

/* toggle */
/* kalau dia di cek atau di klick ambil label di dalamnya */
/* dan mengambil dic dengan class toggle circle  */
/* dan di kasi style ke kanan */

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

.hero {
  margin-top: -40px;
  padding: 8px;
}
